---
import Layout from "../layouts/Layout.astro";
import Navbar from "../layouts/Navbar.astro";
import Footer from "../layouts/Footer.astro";
---

<Layout title="Rabbit Hosting">
	<Navbar active="home"></Navbar>
	<main>
		<div class="pt-10 bg-gray-900 sm:pt-16 lg:pt-8 lg:pb-14 lg:overflow-hidden">
			<div class="mx-auto max-w-7xl lg:px-8">
				<div class="lg:grid lg:grid-cols-2 lg:gap-8">
					<div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 sm:text-center lg:px-0 lg:text-left lg:flex lg:items-center">
						<div class="lg:py-24">
							<a href="https://github.com/Rabbit-Company" target="_blank" class="inline-flex items-center text-white bg-black rounded-full p-1 pr-2 sm:text-base lg:text-sm xl:text-base hover:text-gray-200">
								<span class="px-3 py-0.5 text-white text-xs font-semibold leading-5 uppercase tracking-wide bg-indigo-500 rounded-full">We're open source</span>
								<span class="ml-4 text-sm">Visit our Github page</span>
								<svg class="ml-2 w-5 h-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
									<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
								</svg>
							</a>
							<h1 class="mt-4 text-4xl tracking-tight font-extrabold text-white sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl">
								<span class="block">We create</span>
								<span class="block text-indigo-400">open source projects</span>
							</h1>
							<p class="mt-3 text-base text-gray-300 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl"> Save money and increase your privacy by switching to open source projects today! </p>
						</div>
					</div>
					<div class="mt-12 -mb-16 sm:-mb-48 lg:m-0 lg:relative">
						<div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:max-w-none lg:px-0">
							<img class="w-full lg:absolute lg:inset-y-0 lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="images/programming.svg" alt="Programming">
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<div class="relative bg-gray-800">
		<div class="max-w-7xl mx-auto pt-24 pb-24 px-4 sm:px-6 lg:px-8">
			<div class="sm:flex sm:flex-col sm:align-center">
				<h1 class="text-5xl font-extrabold text-white sm:text-center">Why choose Rabbit Hosting?</h1>
			</div>
			<div class="mt-12 space-y-4 sm:mt-16 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 xl:grid-cols-4">
				<div class="border border-gray-500 rounded-lg shadow-sm divide-y divide-gray-200">
					<div class="p-6">
						<h2 class="text-lg leading-6 font-medium text-white">Affordable Services</h2>
						<p class="mt-4 text-sm text-gray-200">Here at Rabbit Hosting we offer highly affordable Services while still maintaining the best quality possible!</p>
					</div>
				</div>
				<div class="border border-gray-500 rounded-lg shadow-sm divide-y divide-gray-200">
					<div class="p-6">
						<h2 class="text-lg leading-6 font-medium text-white">Fast Setup</h2>
						<p class="mt-4 text-sm text-gray-200">It takes less then 24 hours for all our services to be set up!</p>
					</div>
				</div>
				<div class="border border-gray-500 rounded-lg shadow-sm divide-y divide-gray-200">
					<div class="p-6">
						<h2 class="text-lg leading-6 font-medium text-white">Privacy Focused</h2>
						<p class="mt-4 text-sm text-gray-200">We do care about user privacy, that's why we process payments and user data with only self-hosted open-source projects.</p>
					</div>
				</div>
				<div class="border border-gray-500 rounded-lg shadow-sm divide-y divide-gray-200">
					<div class="p-6">
						<h2 class="text-lg leading-6 font-medium text-white">DDoS Protection</h2>
						<p class="mt-4 text-sm text-gray-200">We prioritize the safety of our Clients over anything! Our amazing DDoS Protection will mitigate attack of any size!</p>
					</div>
				</div>
				<div class="border border-gray-500 rounded-lg shadow-sm divide-y divide-gray-200">
					<div class="p-6">
						<h2 class="text-lg leading-6 font-medium text-white">Management Panel</h2>
						<p class="mt-4 text-sm text-gray-200">Control your games with ease to use Pterodactyl panels and websites with ISPConfig panels!</p>
					</div>
				</div>
				<div class="border border-gray-500 rounded-lg shadow-sm divide-y divide-gray-200">
					<div class="p-6">
						<h2 class="text-lg leading-6 font-medium text-white">24/7 Support</h2>
						<p class="mt-4 text-sm text-gray-200">All our Support agents are highly Knowledged to help with all the questions and concerns you have! Our support team is based all around the world to provide support 24/7!</p>
					</div>
				</div>
				<div class="border border-gray-500 rounded-lg shadow-sm divide-y divide-gray-200">
					<div class="p-6">
						<h2 class="text-lg leading-6 font-medium text-white">Premium plugins</h2>
						<p class="mt-4 text-sm text-gray-200">Included within every Minecraft Purchase are Custom Coded Premium Plugins for the price of nothing!</p>
					</div>
				</div>
				<div class="border border-gray-500 rounded-lg shadow-sm divide-y divide-gray-200">
					<div class="p-6">
						<h2 class="text-lg leading-6 font-medium text-white">Crypto accepted</h2>
						<p class="mt-4 text-sm text-gray-200">Currently we accept Bitcoin, Ethereum and IOTA. For privacy enthusiast we also accept Monero, Dash and ZCash.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-gray-900">
		<div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
			<div class="space-y-12">
				<div class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none">
					<h2 class="text-3xl font-extrabold text-white tracking-tight sm:text-4xl">Meet our team</h2>
					<p class="text-xl text-gray-300">Our team is built from highly knowledgeable gamers and programmers.</p>
				</div>
				<ul role="list" class="space-y-4 sm:grid sm:grid-cols-2 sm:gap-6 sm:space-y-0 lg:grid-cols-3 lg:gap-8">
					<li class="py-10 px-6 bg-gray-800 text-center rounded-lg xl:px-10 xl:text-left">
						<div class="space-y-6 xl:space-y-10">
							<img class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56" src="images/ziga-zajc.png" alt="Ziga Zajc">
							<div class="space-y-2 xl:flex xl:items-center xl:justify-between">
								<div class="font-medium text-lg leading-6 space-y-1">
									<h3 class="text-white">Žiga Zajc</h3>
									<p class="text-indigo-400">CEO / Director</p>
								</div>
								<ul role="list" class="flex justify-center space-x-5">
									<li>
										<a href="https://www.linkedin.com/in/ziga-zajc" target="_blank" class="text-gray-400 hover:text-gray-300">
											<span class="sr-only">LinkedIn</span>
											<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
												<path fill-rule="evenodd" d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z" clip-rule="evenodd" />
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="py-10 px-6 bg-gray-800 text-center rounded-lg xl:px-10 xl:text-left">
						<div class="space-y-6 xl:space-y-10">
							<img class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56" src="images/matthew-mayer.jpg" alt="Matthew M. Mayer">
							<div class="space-y-2 xl:flex xl:items-center xl:justify-between">
								<div class="font-medium text-lg leading-6 space-y-1">
									<h3 class="text-white">Matthew M. Mayer</h3>
									<p class="text-indigo-400">COO / Game Server Specialist</p>
								</div>
								<ul role="list" class="flex justify-center space-x-5">
									<li>
										<a href="https://www.instagram.com/matthew.m.mayer/" target="_blank" class="text-gray-400 hover:text-gray-300">
											<span class="sr-only">Instagram</span>
											<svg class="w-7 h-7" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
												<path stroke="none" d="M0 0h24v24H0z" fill="none" />
												<rect x="4" y="4" width="16" height="16" rx="4" />
												<circle cx="12" cy="12" r="3" />
												<line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<Footer></Footer>
	<script is:inline src="/js/default.js"></script>
</Layout>