---
---

<div class="relative bg-gray-900">
	<div class="max-w-7xl mx-auto pt-24 pb-24 px-4 sm:px-6 lg:px-8">
		<div class="sm:flex sm:flex-col sm:align-center">
			<h1 class="text-5xl font-extrabold text-white sm:text-center">
				Comparison
			</h1>
		</div>
		<h2 class="mt-6 text-3xl text-white sm:text-center">Coming soon...</h2>
	</div>
</div>
