---
---

<div class="bg-gray-900">
	<div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
		<div class="space-y-12">
			<div
				class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none"
			>
				<h2
					class="text-3xl font-extrabold text-white tracking-tight sm:text-4xl"
				>
					Game Hosting
				</h2>
				<p class="text-xl text-gray-300">
					For any missing games, kindly reach out to us for inclusion in our
					collection.
				</p>
			</div>
			<ul
				role="list"
				class="space-y-4 sm:grid sm:grid-cols-2 sm:gap-6 sm:space-y-0 lg:grid-cols-3 lg:gap-8"
			>
				<slot />
			</ul>
		</div>
	</div>
</div>
