---
---

<div class="max-w-7xl mx-auto pb-24 px-4 sm:px-6 lg:px-8">
	<div class="sm:flex sm:flex-col sm:align-center">
		<h1 class="text-5xl font-extrabold text-white sm:text-center">
			Included domains
		</h1>
	</div>
	<div>
		<h2 class="text-gray-500 text-sm font-medium tracking-wide">
			Domains included with every paid package
		</h2>
		<ul
			role="list"
			class="mt-3 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4"
		>
			<li
				style="display: table; vertical-align: middle;"
				class="text-center bg-gray-700 col-span-1 shadow-sm rounded-md"
			>
				<p
					style="display: table-cell;"
					class="text-xl p-3 font-semibold text-center text-gray-100"
				>
					mailfrom.space
				</p>
			</li>
			<li
				style="display: table; vertical-align: middle;"
				class="text-center bg-gray-700 col-span-1 shadow-sm rounded-md"
			>
				<p
					style="display: table-cell;"
					class="text-xl p-3 font-semibold text-center text-gray-100"
				>
					mailfrom.earth
				</p>
			</li>
			<li
				style="display: table; vertical-align: middle;"
				class="text-center bg-gray-700 col-span-1 shadow-sm rounded-md"
			>
				<p
					style="display: table-cell;"
					class="text-xl p-3 font-semibold text-center text-gray-100"
				>
					mailfrom.club
				</p>
			</li>
			<li
				style="display: table; vertical-align: middle;"
				class="text-center bg-gray-700 col-span-1 shadow-sm rounded-md"
			>
				<p
					style="display: table-cell;"
					class="text-xl p-3 font-semibold text-center text-gray-100"
				>
					mailfrom.expert
				</p>
			</li>
			<li
				style="display: table; vertical-align: middle;"
				class="text-center bg-gray-700 col-span-1 shadow-sm rounded-md"
			>
				<p
					style="display: table-cell;"
					class="text-xl p-3 font-semibold text-center text-gray-100"
				>
					mailfrom.me
				</p>
			</li>
			<li
				style="display: table; vertical-align: middle;"
				class="text-center bg-gray-700 col-span-1 shadow-sm rounded-md"
			>
				<p
					style="display: table-cell;"
					class="text-xl p-3 font-semibold text-center text-gray-100"
				>
					sendfrom.email
				</p>
			</li>
			<li
				style="display: table; vertical-align: middle;"
				class="text-center bg-gray-700 col-span-1 shadow-sm rounded-md"
			>
				<p
					style="display: table-cell;"
					class="text-xl p-3 font-semibold text-center text-gray-100"
				>
					sentfrom.email
				</p>
			</li>
			<li
				style="display: table; vertical-align: middle;"
				class="text-center bg-gray-700 col-span-1 shadow-sm rounded-md"
			>
				<p
					style="display: table-cell;"
					class="text-xl p-3 font-semibold text-center text-gray-100"
				>
					meowmail.org
				</p>
			</li>
			<li
				style="display: table; vertical-align: middle;"
				class="text-center bg-gray-700 col-span-1 shadow-sm rounded-md"
			>
				<p
					style="display: table-cell;"
					class="text-xl p-3 font-semibold text-center text-gray-100"
				>
					woofmail.org
				</p>
			</li>
		</ul>
	</div>
</div>
