---
---

<div class="relative bg-gray-800">
	<div class="max-w-7xl mx-auto pt-24 pb-24 px-4 sm:px-6 lg:px-8">
		<div class="sm:flex sm:flex-col sm:align-center">
			<h1 class="text-5xl font-extrabold text-white sm:text-center">
				Packages
			</h1>
		</div>
		<div
			class="mt-24 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-8 lg:gap-y-8"
		>
			<slot />
		</div>
	</div>
</div>
